/* -- 
  DoToday styles
-- */
@import url(
  'https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap'
);

/*
  Typography
*/
.font-regular { font-weight: 400 !important; }
.font-semi-bold { font-weight: 600 !important; }
.font-bold { font-weight: 700 !important; }


* {
  box-sizing: border-box !important;
  font-family: 'Raleway', sans-serif;
  letter-spacing:0px;
}

.app {
  background: linear-gradient( 150deg, #F16529 0%, #E44D26 100% );
  padding: 30px;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.wrapper {
  background: #FFF;
  border-radius: 4px;
  padding: 2rem 2.5rem;
  width: 800px;
  max-width: 100%;
  height: 100%;
  box-shadow: 0px 0px 15px rgba( 0, 0, 0, 0.25 );
  overflow: hidden;
}

header h1 {
  text-align: center;
  color: #707070;
  letter-spacing: -1px;
  font-size: 3rem;
}


.app-actions-wrapper {
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: space-around;
}

.clear-tasks-btn {
  border: 1px solid #2C2C2C !important;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}


.new-task-form-wrapper { padding: 1rem 0rem; }

.new-task-form-wrapper form,
.new-task-form-wrapper form input {
  width: 100%;
  outline: none !important;
}

.new-task-form-wrapper form input {
  border: none !important;
  border-bottom: 1px solid rgba( 0, 0, 0, 0.15 ) !important;
  padding-left: 0rem;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  transition: 0.3s;
}

.new-task-form-wrapper form input:hover {
  border-bottom: 1px solid rgba( 0, 0, 0, 0.5 ) !important;
}

.new-task-form-wrapper form input:focus {
  border-bottom: 1px solid #2C2C2C !important;
}


.todo-list { 
  margin-top: 2rem;
  padding-right: 0.5rem; 
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc( 100% - 300px );
}

.task {
  background: #fff;
  color: #2C2C2C;
  box-shadow: 1px 1px 1px rgba( 0, 0, 0, 0.15 );
  padding: 1rem 1.5rem 1rem 0rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}

.task:focus,
.task:hover,
.task.editing {
  transform: scale( 1.5 );
  background-color: rgba( 221, 221, 221, 0.15 );
  padding: 1rem 1.5rem 1rem 1.5rem;
  transform: translateX( -0.5rem );
}

.task div { margin-left: 50px; }

.task-complete-wrapper {
  margin: 0 !important;
}

.task-label { 
  margin: 0rem !important;
  margin-left: 1rem !important; 
  width: calc( 100% - 100px );
  padding-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
}


.task-label form {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.task-label form input {
  padding: 0;
  padding-bottom: 0.5rem;
  margin: 0;
  width: 100%;
  height: 100%;
  outline: none !important;
  border: none !important;
  font-size: 1.1rem;
  border-bottom: 2px dotted #F01656 !important;
  color: #F01656;
  font-style: italic;
}

/*.task-label .task-label-text {}*/
.task-label .task-label-date_created {
  font-size: 0.9rem;
}

.completed { opacity: 0.5; }
.completed .task-label .task-label-text { text-decoration: line-through; }

.task.completed:focus,
.task.completed:hover {
  transform: scale( 1 );
  background-color: rgba( 221, 221, 221, 0 );
  padding: 1rem 1.5rem 1rem 0rem;
}

.task-actions {
  opacity: 0;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  justify-content: flex-end;
}

.task.completed .task-actions { justify-content: flex-end; }

.task:focus .task-actions,
.task:hover .task-actions, 
.task.editing .task-actions { opacity: 1; }

button {
  padding: 5px;
  margin: auto 2px;
  opacity: 0.5;
  transition: 0.5s;
  border: none !important;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

button svg,
.task-complete-wrapper svg {
  height: 20px;
  width: auto;
  fill: #2C2C2C;
}

form input { padding: 10px; }
